.button {
    border: 1px solid rgb(110, 110, 110);
    border-radius: 5px;
    background-color: rgb(53, 53, 53);
    padding: 10px;
    text-align: center;
    display: flex;
    flex: 1;
    transition: 0.2s;
}

.button div {
    margin: auto;
    font-size: 16px;
    user-select: none;
    color: #848484FF;
}

.button:hover {
    background-color: #5E5B65FF;
    transition: 0.1s;
}

.button:active {
    background-color: rgb(185, 181, 189);
}

.redButton {
    border: 1px solid rgb(209, 101, 74);
    transition: 0.2s;
}

.greenButton {
    border: 1px solid rgb(82, 148, 85);
    transition: 0.2s;
}