.container {
    display: flex;
    width: 47%;
    border: 1px solid rgb(74, 23, 122);
    margin: 10px;
    padding: 20px;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
}

.container:hover {
    border: 1px solid rgb(104, 37, 167);
}

.imageBlock {
    width: 30%;
    height: 100%;
    padding: 10px;
}

.image {
    max-height: 210px;
    max-width: 70px;
    width: auto;
    user-select: none;
    padding-bottom: 20px;
}

.composition {
    display: flex;
    margin: 0 auto;
    color: rgb(173, 150, 14);
    font-size: 17px;
    flex-direction: column;

}

.composition div {
    padding-top: 10px;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 68%;
    align-items: center;
    color: rgb(156, 153, 149);
    font-size: 15px;
}

.name {
    align-items: flex-start;
    font-size: 21px;
    padding-bottom: 20px;
    color: rgb(173, 150, 14);
}

.discription {
    margin: 0 auto;
    padding: 10px;
}

.button {
    margin-top: auto;
    margin-bottom: 5px;
    user-select: none;
    display: flex;
    width: 200px;
    padding-top: 20px;
}

@media (max-width: 1280px){
    .image {
        max-height: 170px;
    }
}

@media (max-width: 1100px){
    .image {
        max-height: 200px;
    }
    .container{
        width: 100%;
    }

}

@media (max-width: 710px){
    .image {
        max-height: 150px;
    }
}
