.content {
    width: 75%;
    height: viewport;
    background: #272727FF;
    box-shadow: 0 8px 32px 0 rgba(167, 26, 144, 0.37);
    padding: 80px 40px;
    margin: auto;
}

.input {
    display: flex;
    background-color: #353535FF;
    color: cornsilk;
    font-size: 20px;
    width: 300px;
    padding: 10px;
    flex: 4;
    margin-right: 10px;
    border-radius: 5px;
}

.serchBar {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 10px;
}

.cross{
    color:rgb(148, 124, 124);
    font-size: 30px;
    border: 2px solid #353535FF;
    padding: 0 10px;
    border-radius: 10px;
}
