.content{
    width: 60%;
    height: 700px;
    background: #272727FF;
    box-shadow: 0 8px 32px 0 rgba(167, 26, 144, 0.37);
    padding: 15px;
    margin: auto;
}

.input{
    display: flex;
    margin: 0 auto;
    background-color: #353535FF;
    color: cornsilk;
    font-size: 20px;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
}