.container {
    display: flex;
    width: 23%;
    border: 1px solid rgb(74, 23, 122);
    margin: 8px;
    padding: 20px;
    background-color: rgb(61, 61, 61);
    border-radius: 5px;
    flex-direction: column;
    align-items: space-between;
}

.name {
    font-size: 17px;
    color: rgb(173, 150, 14);
    margin: auto;
}

.image {
    width: auto;
    max-height: 200px;
    padding: 20px 0;
    user-select: none;
}

.withoutImage {
    width: 70px;
    height: auto;
    padding: 60px 0;
    user-select: none;
}

.buttonsBlock {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: end;

}

@media (max-width: 1280px) {
    .buttonsBlock {
        flex-direction: column;
    }
}

@media (max-width: 920px) {
    .container {
        width: 30%;
    }
}

@media (max-width: 600px) {
    .container {
        width: 45%;
    }
}