@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.container {
    display: flex;
    flex: 1;
    height: 60px;
    /* padding: 0 100px 0 100px; */
    background: -webkit-linear-gradient(180deg, rgb(62, 128, 128) 4%, rgb(154, 82, 182) 78%);
    background: -moz-linear-gradient(180deg, rgb(62, 128, 128) 4%, rgb(154, 82, 182) 78%);
    background: linear-gradient(180deg, rgb(62, 128, 128) 4%, rgb(154, 82, 182) 78%);
}

.navBlock {
    display: flex;
    width: 55%;
    margin: 0 auto;
}

.logo {
    display: flex;
    flex: 1;
    font-family: "Press Start 2P";
    font-size: 18px;
    margin: auto;
    text-decoration: none;
    color: black;
}

.logo span {
    user-select: none;
    text-shadow: 2px 2px 3px red, 0 0 1em red;
    color: orange;
}

.logo span:active {
    text-shadow: 3px 3px 3px red, 3 3 6em red;
    color: white;
}


.cart {
    height: 40px;
    width: auto;
    margin: auto;
    transition: 0.3s;
    margin-top: 10px;
    user-select: none;
}

.cart:hover {
    height: 44px;
    transition: 0.3s;
}

.cart:active {
    height: 40px;
    transition: 0s;
}


